{{ if .Values.metricAdapter.enable }}
{{ if .Values.metricAdapter.installApiService }}
apiVersion: apiregistration.k8s.io/v1
kind: APIService
metadata:
  name: v1beta1.external.metrics.k8s.io
  labels:
    {{- include "crane.labels" . | nindent 4 }}
spec:
  service:
    name: metric-adapter
    namespace: crane-system
  group: external.metrics.k8s.io
  version: v1beta1
  insecureSkipTLSVerify: true
  groupPriorityMinimum: 100
  versionPriority: 100
{{ end }}
{{ end }}